body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content { /* Envuelve tu contenido principal (todo excepto el footer) en un div con clase 'content' */
    flex: 1 0 auto;
}

/* Fin del ajuste opcional */


/* Estilos para los íconos si quieres personalizar el hover */
footer .fab {
    transition: color 0.3s ease-in-out; /* Transición suave para el color */
}

footer .fab:hover {
    color: #F0BF45; /* Cambia a azul al pasar el ratón (ejemplo) */
}